/* main page */
:root {
    --title-text-color: #212121;
    --primarily-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-background-color: #F5F4FA
  }


  body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
  }

  .list {
      list-style: none;
  }
  .logo {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
  }


  .logo:focus {
    color: var(--accent-color);
  }

  .highlighted {
    color: var(--accent-color);
  }

  /* Site nav */

  .site-nav .link {
    color: var(--title-text-color);
    text-decoration: none
  }
  
  .site-nav {
    font-weight: 500;
    font-size: 14px;
  }

  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
   
  }

  .link-contacs {
    color: var(--primarily-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
  }
  
  .link-contacs:hover,
  .link-contacs:focus {
    color: var(--accent-color);
  }

  /* hero */

  .hero {
background-color: #2F303A;
color: var(--primary-white-color);
  }

  .hero-header {
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
  }

.btn-primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 6px;
    text-align: center;
    text-align: center;
  }

  /* traits */
  .hidden {
    display: none;
  }

  .traits-header {
    color: var(--title-text-color);
  }

  .traits-desription {
      color: var(--primarily-text-color);
  }

  /* what do we do */

  .second-header {
      color: var(--title-text-color);
      font-weight: 700;
      font-size: 16px;
  }

  /* team */

  .team-names {
      color: var(--title-text-color);
  }

  .team-description {
      color: var(--primarily-text-color);
  }

  .logo-light {
    color: var(--primary-white-color);
    text-decoration: none
  }

  .footer-contacts {
    color: var(--primarily-text-color);
  }

  .footer-contacts:hover,
  .footer-contacts:focus {
    color: var(--accent-color);
  }

  /* portfolio page */
  .filter-header {
      color: var(--title-text-color);
  }

  .btn-secondary {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
    cursor: pointer;
  }

  .portfolio-title {
    color: var(--title-text-color);
  }

  .portfolio-description {
    color: var(--primarily-text-color);

  }