.planing::before {
    background-image: url(../images/diagram.svg);
  }
  
  .cosmo::before {
    background-image: url(../images/astronaut.svg);
  }
  
  .trait-list::before {
    display: block;
    content: "";
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $secondary-background-color;
    background-size: 70px;
  }
  
  .anthena::before {
    background-image: url(../images/Anthena.svg);
  }
  
  .clock::before {
    background-image: url(../images/clock.svg);
  }
  
  .traits-header {
    color: $title-text-color;
    @include font(14px, 1.18, 700);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .traits-desription {
    color: $primarily-text-color;
    @include font(14px, 1.7);
    letter-spacing: 0.03em;
  }
  
  .trait-list:not(:last-child) {
    margin-right: 30px;
  }
  