
  .whatwedo {
    // @include for-size(mobile) {
    //   display: none;
    //   position: absolute;
    //   width: 1px;
    //   height: 1px;
    //   margin: -1px;
    //   border: 0;
    //   padding: 0;
    //   clip: rect(0 0 0 0);
    //   overflow: hidden;
    //     }
    //   @include for-size(desktop){
    //     position: relative;
    //     width: auto;
    //     height: auto;
    //     margin: 0;
    //     clip: auto;
    //     overflow: visible ;
    //   display: block;
    // }
    @media screen and (max-width: 1999px) {
      display: none;
    }
  }
  
  .wedo {
    align-content: space-between;
    & li:nth-child(-n + 2) {
      margin-right: 30px;
    }
  }
  
  .overlay {
    position: relative;
  }
  
  .overlay-text {
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
    position: absolute;
    padding-top: 27px;
    left: 0;
    bottom: 0;
    margin: 0;
  
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1em;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
  }
  
  
  .container .list-cards,
  .container .partners-list,
  .container .wedo {
    margin-top: 50px;
  }