$title-text-color: #212121;
$primarily-text-color: #757575;
$accent-color: #2196F3;
$primary-white-color: #ffffff;
$secondary-background-color: #F5F4FA;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
$footer-color: #2F303A;

@font-face {
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: "./fonts/Roboto-Regular"
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}