/* main page */
:root {
  --title-text-color: #212121;
  --primarily-text-color: #757575;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #F5F4FA;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h4 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

button:focus {
  outline: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 96px;
 }

.highlighted {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: flex;
}


  /* Site nav */

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;

}
  
.logo:focus {
  color: var(--accent-color);
}

.highlighted {
  color: var(--accent-color);
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  color: var(--title-text-color);
  text-decoration: none;
  transition: 250ms var(--timing);

}


.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
  transition: 250ms var(--timing);
}

.contacts-upper {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.link-contacs:last-child {
  margin-left: 50px;
}

a.link-contacs svg {
  margin-right: 10px;
  transition: 250ms var(--timing);
}

.envelope {
  fill: currentColor;
  width: 16px; 
  height: 12px;
}

.smartphone {
  width: 10px; 
  height: 16px;
  fill: currentColor;
}

.link-contacs:hover .smartphone,
.link-contacs:focus .smartphone, 
.link-contacs:hover .envelope,
.link-contacs:focus .envelope {
  fill: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;
  display: block;
  /* width: 100%;
  height: 100%; */
 }

.current::after {
  bottom: -39px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link-contacs {
  display: inline;
  color: var(--primarily-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: 250ms var(--timing);

}

.link-contacs .svg:hover {
  fill: red;
}

.link-contacs:hover,
.link-contacs:focus {
  color: var(--accent-color);
}

/* .menu-item {
  position: relative;
} */

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #ECECEC;
}

.page-header .flexbox {
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nopadding {
  padding-top: 94px;
}


/* hero */

.hero {
  display: inline-block;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
  url(../images/background_team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-white-color);
  padding-bottom: 200px;
  padding-top: 200px;
  align-items: center;
  background-position: 50% 50%;
}

.hero-header {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1600px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: auto;
  padding-right: auto;
}

.btn-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing);
}

button, select {
  text-transform: none;
  border-style: none;
}

.btn-primary:hover,
.btn-primery:focus {
background-color: var(--accent-color);
}

.hero-button {
  padding-bottom: 200px;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 1000ms var(--timing);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms var(--timing) 0s, transform 250ms var(--timing) 0s;
  padding: 40px;
}

.modal-blocks {
  margin-bottom: 30px;
  position: relative;
}

.form-label {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: var(--primarily-text-color);

position: absolute;
top: -16px ;
left: 0;
}


.modal-icon {
  fill: var(--title-text-color);
  position: absolute;
  left: 12px;
  top: 30%;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.person-icon {
  width: 12px;
  height: 12px;
}

.phone-icon {
  width: 13px;
  height: 13px;
  /* padding-left: 2.5px; */
}

.email-icon {
  width: 15px;
  height: 12px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
}

textarea {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  padding: 12px 16px ;

  color: rgba(117, 117, 117, 0.5);
}

.form-input:focus ~ .modal-icon {
  fill: var(--accent-color);
}


.form-input:focus, 
textarea:focus {
  border: solid 1px var(--accent-color);
  border-radius: 4px;
  outline: none;
}

.agreement-text .btn-primary {
  margin-top: 30px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.agreement-bold {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.agreement {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: var(--primarily-text-color);
}


.agreement-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: var(--primarily-text-color);
  text-align: center;
}

.modal-header {
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
text-transform: none;
color: #212121;
margin-bottom: 30px;
}



.modal-btn {
  display: inline-flex;
  position: absolute;
  content: "";
  background-color: var(--primary-white-color);
  background-image: url(../images/close.svg);
  background-size: 11px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: currentColor;

  transform: rotateY(0);
  transition: transform 500ms linear;
}

.modal-btn:hover {
  background-color: var(--accent-color);
  transform: rotateY(180deg);
  background-image: url(../images/close-w.svg);
}


  /* traits */

.planing::before {
  background-image: url(../images/diagram.svg);
}

.cosmo::before {
  background-image: url(../images/astronaut.svg);
}

.traits::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  background-size: 70px;
}

  .anthena::before {
    background-image: url(../images/Anthena.svg);
  }

  .clock::before {
    background-image: url(../images/clock.svg);
  }

.traits-header {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.traits-desription {
  color: var(--primarily-text-color);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
}

.trait-list:not(:last-child) {
  margin-right: 30px;
}

  /* what do we do */
.second-header {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}

.wedo {
  align-content: space-between;
}

.overlay {
  position: relative;
}

.wedo li:nth-child(-n + 2) {
  margin-right: 30px;
}

.overlay-text {
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  position: absolute;
  padding-top: 27px;
  left: 0;
  bottom: 0;
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.content-box {
  display: flex;
  flex-wrap: wrap;
}

.container .list-cards,
.container .partners-list,
.container .wedo {
  margin-top: 50px;
}

  /* team */
.centered {
  text-align: center;
}

.list-cards {
  /* width: calc(100% - 32px * 2); */
  margin: 0;
  padding-bottom: 30px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-list .social-link,
.social-list .follow-link {
  width: 44px;
  height: 44px;
}

.social {
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.social-link:hover {
  background-color: var(--accent-color);
}

.social-link:hover .icon {
  fill: var(--primary-white-color);
}

.social-link {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 550ms var(--timing);
}

.link-contacs {
  color: var(--primarily-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.team-names {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-back {
  background: #F5F4FA;
}

.team-description {
  color: var(--primarily-text-color);
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.1;
  /* padding-bottom: 30px; */
}

/* partners */

.partners-list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.logo-one {
  width: 44px; 
  height: 49px;
  fill: currentColor;
}

.logo-two {
  width: 40px; 
  height: 52px;
  fill: currentColor;
}

.logo-three {
  width: 41px; 
  height: 43px;
  fill: currentColor;
}

.logo-four {
  width: 80px; 
  height: 42px;
  fill: currentColor;
}

.logo-five {
  width: 59px; 
  height: 47px;
  fill: currentColor;
}

.logo-six {
  width: 88px; 
  height: 45px;
  fill: currentColor;
}

.partner-list {
  margin: 0;
  width: calc((100% - 30px * 5) / 6);
  height: 90px;
}

.partner-list:last-child {
  margin-right: 0px;
}


.logo-link:hover svg {
  cursor: pointer;
  fill: var(--accent-color);
}

.logo-link:hover {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}


.logo-link {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: 250ms var(--timing);
}


.logo-link svg {
transition: 450ms var(--timing);
}


/* footer */

.footer {
  background-color: #2F303A;
  color: var(--primary-white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
 
.footer-contacts {
  color: var(--primarily-text-color);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: block;
  font-style: normal;
  text-decoration: none;
  margin-top: 9px;
}

.footer-social .icon {
  fill: var(--primary-white-color);
}


.footer-address {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.logo-light {
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-social .social-list:not(:last-child) {
  margin-right: 10px;
}

.follow-link:hover {
  background-color: var(--accent-color);
}

.follow-link:hover .icon {
  fill: var(--primary-white-color);
}

h5 {
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
}


.follow {
  margin-top: 12px;
  margin-left: 70px;
}

.follow-link {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 450ms var(--timing);
  
}

.footer-social {
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.subscribe {
  margin-top: 12px;
  margin-left: 93px;
}

.subscribe-field {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  background: #2F303A;
  padding-left: 16px;
  margin-right: 12px;
}

.subscribe-form .btn-primary {
  margin-top: 20px;
}
.subscribe-form .btn-primary::after {
  display: inline-block;
  background-image: url(../images/send.svg);
  align-items: center;
  width: 24px;
  height: 24px;
  content: "";
  margin-left: 10px;
}
  /* portfolio page */

.filter-header {
  color: var(--title-text-color);
}

.filter .flexbox {
justify-content: center;
}

.filter {
  padding-bottom: 50px;
  padding-top: 90px;
}

.filter-btn {
  margin-right: 8px;
}

.btn-secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  border-color: var(--secondary-background-color);
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  border-radius: 4px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 8px;
  padding-top: 5px;
  box-shadow: none;
  border-style: solid;
  transition: 450ms var(--timing);
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-title {
  display: inline-block;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 600;
  letter-spacing: 0.06em;
  font-style: normal;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.portfolio-card:hover  {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-container {
  padding-bottom: 90px;
}

.portfolio-description {
  color: var(--primarily-text-color);
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-style: normal;
  padding-bottom: 20px;
  padding-left: 24px;
  margin: 0;
}

.portfolio-card {
  box-sizing: border-box;
  width: calc((100% - 30px*2) / 3);
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.card-thumb {
  position: relative;
  overflow: hidden;

}

.card-thumb::before {
  display: inline-block;
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing);
}


.card-action {
  opacity: 0;
  font-style: normal;
  font-weight: normal;
  color: var(--primary-white-color);

  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.03em;

  position: absolute;
  display: block;   
  right: 0;
  top: 0;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms var(--timing);
}

.portfolio-card:hover .card-description {
  transform: translateY(0);
}

.card-thumb:hover::before {
  opacity: 1;
}

.portfolio-card:hover .card-action,
.portfolio-card:hover .card-thumb::before {
  opacity: 1;
  transform: translateY(0);
}

/* .portfolio-card:not(:last-child) {
  margin-right: 30px;
} */
