/* main page */
:root {
    --title-text-color: #212121;
    --primarily-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-background-color: #F5F4FA;
  }

  html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }


.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 96px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.icons-header {
  padding: 0;
  border: none;
}

.header-icons {
  fill: var(--primarily-text-color);
  /* display: inline; */
}

.trait-list:not(:last-child) {
  margin-right: 30px;
  }
  
.logo:focus {
  color: var(--accent-color);
}

.highlighted {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  display: flex;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  
}

.link-contacs {
  display: inline;
  color: var(--primarily-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.link-contacs:hover,
.link-contacs:focus {
  color: var(--accent-color);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}


.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #ECECEC;
}

.page-header .flexbox {
  justify-content: flex-end;
  align-items: center;
}

.page-header .phone {
  margin-left: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
  /* outline: 2px solid tomato; */
}

  .nopadding {
    padding-top: 94px;
  }

 
    /* hero */

  .hero {
    display: inline-block;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
  url(../images/background_team.jpg);
    background-repeat: no-repeat;
    /* background-size: 1600px 600px; */
    background-size: cover;
    color: var(--primary-white-color);
    padding-bottom: 200px;
    padding-top: 200px;
    max-width: 1600px;

  }


  .hero-header {
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

   .hero-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
  }


.btn-primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-align: center;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
 
  }
  .hero-button {
    padding-bottom: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /* traits */
  .hidden {
    display: none;
  }

  .traits-header {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

  .traits-desription {
    color: var(--primarily-text-color);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
  }

  /* what do we do */

  .second-header {
      color: var(--title-text-color);
      font-weight: 700;
      font-size: 36px;
      letter-spacing: 0.03em;
      text-align: center;
  }

  /* team */
.centered {
  text-align: center;

}
h4 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

  .team-names {
      color: var(--title-text-color);
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.03em;
      padding-top: 30px;
      padding-bottom: 10px;
  }

  .fifty {
    margin-top: 50px;
  }

  .team-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

.team-back {
  background: #F5F4FA;
}

  .team-description {
      color: var(--primarily-text-color);
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.03em;
      line-height: 1.1;
      padding-bottom: 30px;
  }

 
  .logo-light {
    color: var(--primary-white-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 20px;
  }

  .footer-contacts {
    color: var(--primarily-text-color);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    display: block;
    font-style: normal;
    text-decoration: none;
    margin-top: 9px;
  }

  .footer-address {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-style: normal;
  }

  .footer-contacts:hover,
  .footer-contacts:focus {
    color: var(--accent-color);
  }

  /* portfolio page */
  .filter-header {
      color: var(--title-text-color);
  }
.filter .flexbox {
  justify-content: center;
}

  .filter {
    padding-bottom: 50px;
    padding-top: 90px;
  }

  .filter-btn {
    margin-right: 8px;
  }

  .btn-secondary {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    border-color: var(--secondary-background-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    width: auto;
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 8px;
    padding-top: 5px;
    box-shadow: none;
    background: transparent;
    border-style: solid;

  }

  .btn-secondary:hover,
  .btn-secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
      }

  .content-box {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -10px;
    margin-bottom: -10px; */
  }

  .portfolio-title {
  display: inline-block;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 600;
  letter-spacing: 0.06em;
  font-style: normal;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.portfolio-card:hover  {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-container {
  padding-bottom: 90px;
}

  .portfolio-description {
    color: var(--primarily-text-color);
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-style: normal;
  padding-bottom: 20px;
    padding-left: 24px;
    margin: 0;
  }

  .portfolio-card {
  box-sizing: border-box;
  width: calc((100% - 30px*2) / 3);
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  margin-right: 30px;
  margin-bottom: 30px;
   }

  /* .portfolio-card:not(:last-child) {
    margin-right: 30px;
  } */


  /* footer */

  .footer {
    background-color: #2F303A;
    color: var(--primary-white-color);
    padding-top: 60px;
    padding-bottom: 60px;
 
  }